<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.4.5828.26833" targetFramework="net35" />
  <package id="JonSkeet.MiscUtil" version="0.1" targetFramework="net4" />
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net35" />
  <package id="NLog" version="4.3.6" targetFramework="net35" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net4" />
</packages>