<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
    <variable name="layout" value="${longdate} ${level} [${threadname:whenEmpty=${threadId}}] ${message} ${exception:format=tostring}"/>
    <targets async="true">
      <target name="file" type="File" layout="${layout}" fileName="logs/client.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
  </nlog>
</configuration>