<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.4.5828.26833" targetFramework="net4" />
  <package id="NLog" version="4.3.6" targetFramework="net4" />
  <package id="NVorbis" version="0.8.4.0" targetFramework="net4" />
  <package id="NVorbis.OpenTKSupport" version="1.1.0" targetFramework="net4" />
  <package id="openal.redist" version="2.0.7.0" targetFramework="net4" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net4" />
  <package id="opentk_unoffical" version="1.1.788.3121" targetFramework="net4" />
  <package id="SharpFont" version="3.1.0" targetFramework="net4" />
  <package id="SharpFont.Dependencies" version="2.6" targetFramework="net4" />
  <package id="Trove.Nini" version="1.1.0.0" targetFramework="net4" />
</packages>